body{

}
.navbar{
  background-color: purple;
}
.ghostText{
    margin-top: 100px;
   overflow: hidden;
  width: 419px;
  height: 366px;
  font-family: OpenSans;
  font-size: 282px;
  font-weight: bold;
  line-height: 0.24;
  letter-spacing: -16.52px;
  color: #f6f6f6;
margin-left: 1021px;

}
.titelViewTwo{
  position:  absolute;
  margin-left:600px;
  margin-top:200px;
  height: 68px;
  font-family: OpenSans;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -3.05px;
  text-align: center;
  color: var(--black);
}
.mainView{
  height: 3260px;
}
.plaatjeWoud{
  margin-top: 75px;
  background-color: pink;
  width: 564px;
 height: 605px;
 border-radius: 7px;
 box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.25);
 z-index: 1;
 margin-left: 138px;
}
.rectangle1{
  width: 564px;
 height: 605px;
 border: solid 1px #979797;
 background-color: #7c92a0;
 z-index: -1;
position: absolute;
}
.titleEen{
  margin-top: 206px;

  width: 551px;
 height: 68px;
 font-family: OpenSans;
 font-size: 32px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 2.13;
 letter-spacing: -1.87px;
 color: var(--black);
}
.paragraphEen{
  width: 455px;
   height: 140px;
   font-family: OpenSans;
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.69;
   letter-spacing: -0.94px;
   color: var(--black);
}

.titleTwee{
  width: 551px;
  height: 68px;
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: -1.87px;
  color: var(--black);
  margin-top: 93px;
  margin-left: 142px;
}



.paragraphTwee{
  margin-left: 142px;
  width: 455px;
height: 140px;
font-family: OpenSans;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.69;
letter-spacing: -0.94px;
color: var(--black);
}
