@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
  background-image: url("images/background.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   font-family: 'Open Sans', sans-serif;
}

.image1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12rem;
  width: 50%;
  border-radius: 7px;
  padding-bottom: 127px;
}

.lorem{
  width: 365px;
  height: 136px;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -3.05px;
  color: #081008;
  display: block;
  margin-left: 8rem;
  margin-right: auto;
  padding-top: 15rem;
  color: white;
}

.ipsum{
  width: 539px;
  height: 54px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: -0.94px;
  color: var(--black);
  display: block;
  margin-left: 8rem;
  margin-right: auto;
  padding-top: 10rem;
  color: white;
}

.image2{
  display: block;
   margin-left: 8rem;
   margin-right: auto;
}



.grid_row1{
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
vertical-align: top;
background-color: #3e563e;
color: white;
postion: fixed;
height: 40%;
top: 0;
left: 0;
}


.grid_row2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  postion: fixed;
  background-color: #3e563e;
  padding-bottom: 3em;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  color: white;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


.button {
	background-color:#96cc76;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:9px 64px;
	text-decoration:none;
  text-shadow:0px 0px 0px #2a4026;
}
.button:hover {
	background-color:#5cbf2a;
}
.button:active {
	position:relative;
	top:1px;
}

.button2 {
	box-shadow: 0px 0px 0px 2px #000000;
	background-color:#ffffff;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:9px 64px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2a4026;
}
.button2:hover {
	background-color:#5cbf2a;
}
.button2:active {
	position:relative;
	top:1px;
}






.navbar{
  background-color: purple;
}
.ghostText{
    margin-top: 100px;
   overflow: hidden;
  width: 419px;
  height: 366px;
  font-family: OpenSans;
  font-size: 282px;
  font-weight: bold;
  line-height: 0.24;
  letter-spacing: -16.52px;
  color: #f6f6f6;
margin-left: 1021px;

}
.titelViewTwo{
  position:  absolute;
  margin-left:600px;
  margin-top:200px;
  height: 68px;
  font-family: OpenSans;
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: -3.05px;
  text-align: center;
  color: var(--black);
}
.mainView{
  height: 3260px;
}
.plaatjeWoud{
  margin-top: 75px;
  background-color: pink;
  width: 564px;
 height: 605px;
 border-radius: 7px;
 box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.25);
 z-index: 1;
 margin-left: 138px;
}
.rectangle1{
  width: 564px;
 height: 605px;
 border: solid 1px #979797;
 background-color: #7c92a0;
 z-index: -1;
position: absolute;
}
.titleEen{
  margin-top: 206px;

  width: 551px;
 height: 68px;
 font-family: OpenSans;
 font-size: 32px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: 2.13;
 letter-spacing: -1.87px;
 color: var(--black);
}
.paragraphEen{
  width: 455px;
   height: 140px;
   font-family: OpenSans;
   font-size: 16px;
   font-weight: normal;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.69;
   letter-spacing: -0.94px;
   color: var(--black);
}

.titleTwee{
  width: 551px;
  height: 68px;
  font-family: OpenSans;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: -1.87px;
  color: var(--black);
  margin-top: 93px;
  margin-left: 142px;
}



.paragraphTwee{
  margin-left: 142px;
  width: 455px;
height: 140px;
font-family: OpenSans;
font-size: 16px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.69;
letter-spacing: -0.94px;
color: var(--black);
}
.grijsTwee{
  margin-left: 243px;
  margin-top: 253px;
  width: 600px;
  height: 422px;
  border: solid 1px #979797;
  background-color: #7c92a0;
  z-index: -1;
 position: absolute;
}
.plaatjeBerg{
  margin-top: 176px;
  background-color: pink;
  width: 568px;
   height: 422px;
   border-radius: 7px;
   box-shadow: 4px 4px 14px 0 rgba(0, 0, 0, 0.25);
   z-index: 1;

}
